@model IEnumerable<LibraryManagementSystem.DAL.Kitab>

@if (!Model.Any())
{
    <p class="text-danger">Heç bir nəticə tapılmadı.</p>
}
else
{
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-4 mb-4">
                <img src="~/Images/@item.Foto" alt="" height="100" class="img-fluid" />
                <h5>@item.KitabAdi</h5>
                <p>@item.Haqqinda</p>
                <p><a class="btn btn-secondary" href="/Home/KitabDetal/@item.KitabID">Ətraflı bax »</a></p>
            </div>
        }
    </div>
}
