@{
    ViewBag.Title = "About";
}

<div class="container m-5 mt-5 ms-20">
    <main aria-labelledby="title">
        <h2 id="title">@ViewBag.Title.</h2>
        <h3>@ViewBag.Message</h3>

        <p>Bu sahə əlavə məlumatlar yerləşdirmək üçün istifadə oluna bilər.</p>
    </main>
</div>
