@model LibraryManagementSystem.DAL.Kitab

@{
    ViewBag.Title = "Kitab Detalları";
}

<div class="container">

    <h2>@Model.KitabAdi Detalları</h2>

    <div class="col-lg-10">
        <img src="~/Images/@Model.Foto" alt="" class="clickable-photo img-thumbnail" style="cursor:pointer;" />
        <h2 class="fw-normal">@Model.KitabAdi</h2>
        <p>@Model.Haqqinda</p>
        <p>@Model.IcareQiymeti</p>
    </div>
</div>
