<!-- ~/Areas/User/Views/User/Profile.cshtml (~/Areas/User/Views/Home/Index.cshtml-in işləməsi üçün istifadə olunur) : -->

@{
    Layout = null;
}

@{
    ViewBag.Title = "Mənim Hesabım";
}

<div class="container mt-5">
    <h2 class="mb-4">Xoş gəlmisiniz, @Session["UserName"]!</h2>
    <p>Burada hesabınıza aid xüsusi məlumatları görə bilərsiniz.</p>
</div>
